body {
    font-family: Arial, sans-serif;
    background-color: #da7806;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 36px;
    color: #000000;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    color: #000000;
    margin: 10px 0;
}

.social-media a:hover {
    color: #000000;
}
